<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- OPENIDCONNECT INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-warning"><span class="fa fa-openid"></span> OpenID Connect</h3>

                <!-- check if the user has this token (is the user authenticated ) -->
                <% if (user.openidconnect.idToken) { %>
                  <p>
                     <strong>id</strong>: <%= user.openidconnect.id %><br>
                     <strong>issuer</strong>: <%= user.openidconnect.issuer %><br>
                     <strong>displayName</strong>: <%= user.openidconnect.displayName %><br>
                     <strong>userName</strong>: <%= user.openidconnect.userName %><br>
                  </p>
                <% } %>

            </div>
        </div>

    </div>

</div>
</body>
</html>